<?xml version="1.0" encoding="utf-8"?>
<!-- This file is not needed for Linux App Service (Python 3.11) -->
<!-- Azure will use the startup command from Configuration settings -->
<!-- Keep this file for Windows App Service compatibility only -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%PYTHON_PATH%"
                  arguments="-m gunicorn --bind=0.0.0.0:%%HTTP_PLATFORM_PORT%% --timeout 600 app:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\python.log"
                  startupTimeLimit="120"
                  processesPerApplication="1">
    </httpPlatform>
  </system.webServer>
</configuration>
